*.user
/build*
/docs*
/data*
/houdini*
/python/*.png
*.pyc
*.pdf
/cpp/*_build
/cpp/*-build

# c++
*.autosave


# latex specific excludes
*.log
*.gz
*.pdf
*.aux
*.bbl
*.blg
*.brf
*.lbl
*.fls
*.fdb_latexmk
*.out
*.toc

# we want to include pdf images for latex
!/*/images/*.pdf
!/*/figures/*.pdf

# no python dlls
*.pyd